* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../img/banner2.jpg);

}

.logotipo {
    margin-left: 20px;
}

nav {
    margin-top: 450px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    height: 60px;
    list-style: none;
    margin: 15px;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
}

nav ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.my-dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.show {
    display: block;
}